#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.overlayclass {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

/* Add styles for cookie consent */
.CookieConsent {
    z-index: 999;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    color: #dc3545;
}
